SPARKY_FITNESS_DB_NAME=sparkyfitness
SPARKY_FITNESS_DB_USER=sparky
SPARKY_FITNESS_DB_PASSWORD=change_me

SPARKY_FITNESS_APP_DB_USER=sparkyapp
SPARKY_FITNESS_APP_DB_PASSWORD=change_me

SPARKY_FITNESS_API_ENCRYPTION_KEY=change_me_long_random_key
BETTER_AUTH_SECRET=change_me_long_random_secret

SPARKY_FITNESS_FRONTEND_URL=https://apextrainer.duckdns.org
SPARKY_FITNESS_LOG_LEVEL=info
SPARKY_FITNESS_DISABLE_SIGNUP=false
SPARKY_FITNESS_ADMIN_EMAIL=
