SPARKY_FITNESS_DB_NAME=sparkyfitness_db
SPARKY_FITNESS_DB_USER=sparky
SPARKY_FITNESS_DB_PASSWORD=CHANGE_ME

SPARKY_FITNESS_APP_DB_USER=sparky_app
SPARKY_FITNESS_APP_DB_PASSWORD=CHANGE_ME

SPARKY_FITNESS_DB_HOST=apextrainer-db
SPARKY_FITNESS_DB_PORT=5432

SPARKY_FITNESS_SERVER_HOST=apextrainer-server
SPARKY_FITNESS_SERVER_PORT=3010

SPARKY_FITNESS_FRONTEND_URL=http://localhost:3004
SPARKY_FITNESS_EXTRA_TRUSTED_ORIGINS=http://localhost:3004
ALLOW_PRIVATE_NETWORK_CORS=true

SPARKY_FITNESS_LOG_LEVEL=INFO
NODE_ENV=production
TZ=Etc/UTC

SPARKY_FITNESS_API_ENCRYPTION_KEY=GENERATE_YOUR_OWN_KEY
BETTER_AUTH_SECRET=GENERATE_YOUR_OWN_SECRET

SPARKY_FITNESS_DISABLE_SIGNUP=false
SPARKY_FITNESS_FORCE_EMAIL_LOGIN=true

SERVER_BACKUP_PATH=./backup
SERVER_UPLOADS_PATH=./uploads